# ── MongoDB ──────────────────────────────────────────
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=change_me_root

MONGO_DATABASE=pact
MONGO_USER=pact_user
MONGO_PASSWORD=change_me_pact

# ── API ──────────────────────────────────────────────
CORS_ORIGINS=https://pact.dby-fly.fr

# ── Timezone ─────────────────────────────────────────
TZ=Europe/Paris
